.gameArea {
  width: 95vw; max-width: 500px; height: 65vh;
  margin: 20px auto; position: relative;
  background: rgba(0, 0, 0, 0.6); border: 2px solid rgba(0, 247, 255, 0.2);
  border-radius: 15px; overflow: hidden;
  box-shadow: inset 0 0 50px #000;
}

.gameArea::after {
  content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%);
  background-size: 100% 4px; pointer-events: none;
}

.hud-container { display: flex; justify-content: center; gap: 15px; margin-bottom: 10px; }

.hud-item {
  background: rgba(0, 0, 0, 0.8); padding: 10px 20px;
  border-radius: 5px; min-width: 130px;
}

.hud-label { font-size: 10px; color: #888; display: block; letter-spacing: 1px; }
.hud-value { font-family: 'Orbitron'; font-size: 22px; color: #fff; }

.jet {
  position: absolute; bottom: 30px; font-size: 50px;
  transition: left 0.1s linear; filter: drop-shadow(0 0 10px var(--neon-cyan));
}

.enemy {
  position: absolute; font-size: 35px;
  filter: drop-shadow(0 0 10px var(--neon-red));
}

.bullet {
  position: absolute; width: 4px; height: 18px;
  background: #fff; box-shadow: 0 0 10px var(--neon-cyan);
  border-radius: 10px;
}

#game-overlay-msg {
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
  width: 80%; padding: 30px; background: rgba(0, 0, 0, 0.95);
  border: 1px solid var(--neon-red); text-align: center; z-index: 100;
}
